body {
    background-color: rgba(21,32,43);
}
.d-flex {
    display: flex;
}
.menu-left {
    flex-grow: 1;
    align-items: flex-end;
}
.main {
    max-width: 990px;
    align-items: flex-start;
    flex-shrink: 1;
    flex-grow: 1;
}
svg {
    height: 1.75rem;
}
