body {
    background-color: rgba(21,32,43);
    color: rgba(255,255,255);
    margin: 0;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.menu {
    height: 100%;
    overflow-y: scroll;
}
.sswer {
    flex-grow: 3;
    align-items: flex-end;
    z-index: 3;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 316px;
    position: relative;
    z-index: 0;
}
.sdlfkjsd {
    height: 100%;
    position: fixed;
    top: 0;
}
.menu-left {
    height: 100%;
    width: 275px;
    flex-grow: 1;
    align-items: flex-end;
    border-right: 1px solid rgba(255, 255, 255, .1);
    padding: 20px;
}
.tab {
    padding: 10px;
    display: flex;
}
.menu-left a {
    outline-style: none;
    align-items: flex-start;
    font-size: 19px;
    font-weight: 700;
    color: rgba(255,255,255);
    text-decoration: none;
}
.btn-twit {
    min-width: calc(78.89px);
}
.btn-twit a {
    display: flex;
    background-color: rgb(29, 161, 242);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    min-height: 49px;
    min-width: calc(78.89px);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 9999px;
    align-items: stretch;
}
.btn-twit > a > div {
    align-items: center;
    margin: 0 auto;
}
.main {
    display: flex;
    align-items: flex-start;
    flex-shrink: 1;
    flex-grow: 1;
}
.titlebar {
    height: 57px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(21,32,43);
}
.titlebar > div {
    padding: 20px;
}
.main-inner {
    display: flex;
    flex-basis: auto;
    max-width: 990px;
    height: 100%;
}


.timeline {
    max-width: 600px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    -ms-overflow-style: none;
    overflow-y: scroll;
}
.timeline::-webkit-scrollbar {
     display:none;
 }

.generate-twit {
    position: relative;
    height: 120px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 20px;
}
#input-twit {
    height: 24px;
    width: 100%;
    background-color: rgba(21,32,43);
    border: none;
    color: white;
    font-size: 19px;
    display: block;
}
#input-twit:focus {
    outline: none;
}

.btn-primary {
    background-color: rgb(29, 161, 242);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    min-height: 40px;
    border-radius: 9999px;
}

#btn-create-twit {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
margin: 0 20px 20px 0;
    background-color: rgb(29, 161, 242);
    width: 68px;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    min-height: 40px;
    border-radius: 9999px;
    border: none;
}

.timeline-empty {
    width: 600px;
    padding-top: 20px;
    text-align: center;
}

.timeline-empty > * {
    padding-right: 20px;
    padding-left: 20px;
}

.timeline-content {
    display: none;
    width: 600px;
}

.single-twit {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 20px;
    display: flex;
}

.single-twit:hover {
    background-color: rgba(255,255,255,.05);
    transition: background-color .2s ease-in-out;
    cursor: pointer;
}

.user-nickname {
    font-weight: 700;
    margin-bottom: 4px;
    margin-right: 4px;
}

.user-profile {
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    margin-right: 16px;
}

.time {
    opacity: 0.5;
    font-size: 14px;
}

.sidebar {
    width: 350px;
    padding: 20px;
}
svg {
    height: 1.75rem;
    color: rgba(255,255,255,100);
}
